 /* .grid-container{
    display: grid;
    row-gap: 40px;
    column-gap: 30px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px; 
    background-color: #f4f6f8;
    padding: 130px;
    width: 100%;
    height: 100%;
  }  */

  
  .grid-items {
    /* display: grid;
    row-gap: 30px;
    column-gap: 30px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20% 20% 20% 20%; 
    background-color: #f4f6f8; */
    background-color: #fff;
    box-shadow: 1px solid #f4f6f8;
    padding: 30px;
    /* width: 100%; */
    height: 228px;
    border-radius: 20px;
    position: relative;
  }
  .border{
    width: 50px;
    height: 50px;
    background-color: #E99210;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: -3.5rem;
  }

  .grid-items p{
    color: #6e8098;
    margin-top: 20px;
    font-size: 16px;
  }

  .grid-items h3{
    font-size: 20px;
    /* color: #000; */
  }
  .grid-items h5{
    color: #5964e0;
    font-size: 14px;
    margin-top: 50px;
  
  }
  .grid-items img{
    /* position: absolute; */
    /* top: 20px; */
    top: -18px;
  }
  .grid-items img[alt=blogr]{
    position: absolute;
    top: 230px;
    left: 530px;
  }
  .grid-items img[alt=vector]{
    position: absolute;
    top: 230px;
    left: 930px;
  }
  .grid-items img[alt=Officelite]{
    position: absolute;
    top: 500px;
    left: 930px;
  }
  .grid-items img[alt=Pod]{
    position: absolute;
    bottom: 43px;
    left: 530px;
  }

  .grid-items img[alt=creative]{
    position: absolute;
    bottom: 43px;
    left: 930px;
  }
  .grid-items img[alt=pomodoro]{
    position: absolute;
    top: 770px;
    left: 930px;
  }
  .grid-items img[alt=maker]{
    position: absolute;
    top: 770px;
    left: 530px;
  }

  .grid-items img[alt=coffeeroaster]{
    position: absolute;
    top: 770px;
    left: 930px;
  }
   .grid-items img[alt=mastercraft]{
    position: absolute;
    top: 1040px;
    left: 930px; 
  }
  .grid-items img[alt=crowdfund]{
    position: absolute;
    top: 1040px;
    left: 530px;
  }

  .grid-items img[alt=typemaster]{
    position: absolute;
    top: 1040px;
    left: 930px;
  } 
  
  button{
    background-color: #5964e0;
    color: #fff;
    width: 141px;
    height: 48px;
    border: none;
    border-radius: 5px;
}  
.dark-theme .grid-items {
  background-color: #19202D;
  color: #ffffff;
  border-radius: 10px;
}



