<!-- <div class="grid-container">
   <div class="grid-items"> -->

<div style="width: 100%;">
    <a [routerLink]="['/jobs', jobList.id]">
        <div [class]="switchThemeService.darkLight? 'light-theme': 'dark-theme'">
            <div class="grid-items">
                <div class="border" [style.backgroundColor]="jobList.logoBackground">
                    <img src="{{jobList.logo}}">
                    <!-- <h4>{{jobList.logoBackground}}</h4> -->
                </div>
    
                <!-- <p>{{job.id}}</p> -->
                <p>{{jobList.postedAt}} . {{jobList.contract}}</p>
                <h3>{{jobList.position}}</h3>
                <p>{{jobList.company}}</p>
                <h5>{{jobList.location}}</h5>
            </div>
        </div>
    </a>
</div>
<!-- </div>
    </div>    -->

<!-- <div class="grid-items">
        <img src="../../assets/desktop/blogr.svg" alt="blogr">
        <p>20hr ago . Part Time</p>
        <h3>Haskell and PureScript Dev</h3>
        <p>Blogr</p>
        <h5>United States</h5>
    </div>

    <div class="grid-items">
        <img src="../../assets/desktop/vector.svg" alt="vector">
        <p>1day ago . Part Time</p>
        <h3>Midlevel Back End Engineer</h3>
        <p>Vector</p>
        <h5>Russia</h5>
    </div>

    <div class="grid-items">
        <img src="../../assets/desktop/Officelite.svg" alt="Officelite">
        <p>2day ago . Full Time</p>
        <h3>Senior Application Engineer</h3>
        <p>Office Lite</p>
        <h5>Japan</h5>
    </div>

    <div class="grid-items">
        <img src="../../assets/desktop/Pod.svg" alt="Pod">
        <p>2day ago . Part Time</p>
        <h3>Remote DevOps Engineer</h3>
        <p>Pod</p>
        <h5>Thailand</h5>
    </div>

    <div class="grid-items">
        <img src="../../assets/desktop/creative.svg" alt="creative">
        <p>4day ago . Part Time</p>
        <h3>Desktop Support Manager</h3>
        <p>Creative</p>
        <h5>Germany</h5>
    </div>

    <div class="grid-items">
        <img src="../../assets/desktop/Pomodoro.svg" alt="pomodoro">
        <p>1w ago . Full Time</p>
        <h3>iOS Engineer</h3>
        <p>Pomodoro</p>
        <h5>United States</h5>
    </div>

    <div class="grid-items">
        <img src="../../assets/desktop/Maker.svg" alt="maker">
        <p>1w ago . Full Time</p>
        <h3>Senior EJB Developer</h3>
        <p>Maker</p>
        <h5>United Kingdom</h5>
    </div>

    <div class="grid-items">
        <img src="../../assets/desktop/Cofferoaster.svg" alt="coffeeroaster">
        <p>1w ago . Part Time</p>
        <h3>Senior Frontend Developer</h3>
        <p>Coffeeroaster</p>
        <h5>Singapore</h5>
    </div>

    <div class="grid-items">
        <img src="../../assets/desktop/Mastercraft.svg" alt="mastercraft">
        <p>2w ago . Freelance</p>
        <h3>App & Website Designer</h3>
        <p>Mastercraft</p>
        <h5>United States</h5>
    </div>

    <div class="grid-items">
        <img src="../../assets/desktop/crowdfund.svg" alt="crowdfund">
        <p>1mo ago . Part Time</p>
        <h3>Fullstack Developer</h3>
        <p>Crowdfund</p>
        <h5>New Zealand</h5>
    </div>

    <div class="grid-items">
        <img src="../../assets/desktop/typemaster.svg" alt="typemaster">
        <p>4d ago . Part Time</p>
        <h3>Technical Lead Engineer</h3>
        <p>Typemaster</p>
        <h5>United Kingdom</h5>
    </div>   -->

<!-- <button value="Load More">Load More</button>  -->
